@tailwind base;
@tailwind components;
@tailwind utilities;

audio::-webkit-media-controls-play-button{
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  color: white;
}
audio::-webkit-media-controls-play-button-icon {
  color: white;
}
audio::-webkit-media-controls-panel{
  background-color: cornflowerblue;
  border-radius: 0%;
}
